body {
    background: #141414;
    color:#f3f3f3;
    line-height:1.6;
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.1;
    width:100%;
}

h1 {
    font-size:2.5rem;
    max-width:30ch; /* research ch */
} 

h2 {
    font-size:2rem;
}

code {
    font-size:1.2rem;
    border: 1px solid #c1c1c1;
    white-space:pre;
    padding:2px;
    font-weight:700;
}

.center-split {
    --center-split-max-width:30vw;
    color:#f3f3f3;
    font-size:1.35rem;
}

.center-split > * {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    padding:2.5rem;
}

.center-split > img,
.center-split > picture, 
.center-split > video {
    display:block;
    padding:0;
    object-fit: cover;
}

.center-split h1,
.center-split h2 {
    background: #03435b;
    font-size:2rem;
    text-transform: uppercase;
}

.center-split:nth-of-type(1) > p {
    background: #972682;
}

.center-split:nth-of-type(2) > p {
    background: #339726;
}

.center-split:nth-of-type(2) > h2 {
    background: #339726;
    justify-content: flex-end;
}
.center-split:nth-of-type(3) > p:first-child {
    background: #982222;
}
.center-split:nth-of-type(3) > p:last-child {
    background: #224798;
}

@media (min-width: 720px) {
    .center-split h1,
    .center-split h2 {
        font-size:3.75rem;
    }
}

@media (min-width: 720px) {
    /* [1] */
    .center-split {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      align-items: stretch;
    }
  
    /* [2] */
    .center-split > * > * {
      max-width: var(--center-split-max-width);
    }
  
    /* [3] */
    .center-split > *:nth-child(odd) > * {
      margin: 0 0 0 auto;
    }
  
    .center-split > *:nth-child(even) > * {
      margin: 0 auto 0 0;
    }
  
    /* [4] */
    .center-split > img,
    .center-split > picture,
    .center-split > video {
      max-width: 100%;
      margin: 0;
    }
  }

@media (min-width: 720px) {
    article > h1,
    article > p {
        margin-left:3rem;
    }
}

